{% extends "base.html"  %}
{% load i18n %}

{% block breadcrumbs %}
<div class="breadcrumbs">
<a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
&rsaquo; {% trans 'Password reset' %}
</div>
{% endblock %}

{% block head_title %}{% trans 'Password reset successful' %}{% endblock %}

{% block header_title %}{% trans 'Password reset successful' %}{% endblock %}

{% block base_content %}<p>&nbsp;</p>
<div class="col-md-8 col-md-offset-2 panel panel-default">
	<div class="panel-body">
		<h1>{% trans 'Password reset successful' %}</h1>
		<p>{% trans "We've emailed you instructions for setting your password to the email address you submitted. You should be receiving it shortly." %}</p>
	</div>
</div>
{% endblock %}
