{% extends "base.html"  %}
{% load widget_tweaks %}
{% load i18n %}

{% block breadcrumbs %}
<div class="breadcrumbs">
<a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
&rsaquo; {% trans 'Password reset' %}
</div>
{% endblock %}

{% block head_title %}{% trans "Password reset" %}{% endblock %}

{% block header_title %}{% trans "Password reset" %}{% endblock %}

{% block base_content %}<p>&nbsp;</p>
<div class="col-md-8 col-md-offset-2 panel panel-default">
	<div class="panel-body">
		<h1>{% trans "Password reset" %}</h1>
		<p>{% trans "Forgotten your password? Enter your email address below, and we'll email instructions for setting a new one." %}</p>
		<form action="" method="post" role="form">{% csrf_token %}
			<div class="form-group">
				<label for="id_email">{% trans 'Email address:' %}</label>
				{{ form.email|add_class:"form-control" }}
			</div>
			{{ form.email.errors }}
			<input type="submit" class="btn btn-primary" value="{% trans 'Reset my password' %}" />
		</form>
	</div>
</div>
{% endblock %}
