{% extends "base.html"  %}
{% load i18n %}
{% block userlinks %}{% url 'django-admindocs-docroot' as docsroot %}{% if docsroot %}<a href="{{ docsroot }}">{% trans 'Documentation' %}</a> / {% endif %}{% trans 'Change password' %} / <a href="{% url 'admin:logout' %}">{% trans 'Log out' %}</a>{% endblock %}
{% block breadcrumbs %}
<div class="breadcrumbs">
<a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
&rsaquo; {% trans 'Password change' %}
</div>
{% endblock %}

{% block head_title %}{% trans 'Password change successful' %}{% endblock %}

{% block header_title %}{% trans 'Password change successful' %}{% endblock %}

{% block base_content %}<p>&nbsp;</p>
<div class="col-md-8 col-md-offset-2 panel panel-default">
	<div class="panel-body">
		<h1>{% trans 'Password change successful' %}</h1>
		<p>{% trans 'Your password was changed.' %}</p>
	</div>
</div>
{% endblock %}
